@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


:root{
	--primary-color: #fff;
	--secondary-color:#000000;
	--text-color:#fff;
	--main-font: "Rubik",Sans-serrif;
	--inactive-color:#adadad;
	--btn-color:#f85606;
}