
{% extends "adminlayout.html" %}
{% block content%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    
    {% for product in products %}
    
      <tr>
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.detail}}</td>
          <td>{{product.price}}</td>
          <td><img src="{{product.images}}" alt="" width="120px" height="120px"></td>

          <td>
              <a href="/delete/{{product.id}}" type="button" class="btn btn-danger">Delete</a>
          </td>
      </tr>
{% endfor %}
    
  </tbody>
</table>
{% endblock %}